@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

header {
    margin-top: 15px;
}

nav {
    order: 1;
    flex: 1 1 0;
}

main {
    order: 2;
    flex: 3 3 0;
}

aside {
    order: 3;
    flex: 1 1 0;
}

footer {
    margin-bottom: 15px;
}

button {
    font-family: inherit;
}

/* CLASS SELECTORS */

.m-5 {
    margin: 15px;
}

.light-background {
    background-color: #e6e6e6;
}

.rounded-border {
    border-radius: 5px;
    padding: 10px;
}

.dark-border {
    border: solid #1c1c1c 2px;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

/* CATEGORIES */

#categories button {
    margin-bottom: 10px;
    background-color: transparent;
    width: 100%;
    font-size: large;
}

#categories button:hover {
    background-color: black;
    color: white;
}

button#restart {
    border: black solid 2px;
    background-color: black;
    color: white;
    font-size: large;
    width: 100%;
}

button#restart:hover {
    background-color: white;
    color: black;
}

/* PROGRESS BAR */

#progress-bar {
    display: flex;
    height: 15px;
}

.item {
  flex-basis: 100%;
  text-align: center;
  height: 15px;
  border: 2px solid black;
  border-radius: 3px;
  margin: 2px;
}

.item.right {
    background-color: #C3EDBF;
}

.item.wrong {
    background-color: #FF6169;
}

/* MAIN TASKS */

div#task {
    margin: 50px 5px;
    height: 250px;
    padding: 50px;
}

#question {
    font-size: 1.5rem;
}

#task button {
    background-color: "transparent";
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: black solid 2px;
    cursor: pointer;
    font-size: large;
}

#task button:hover {
    border: white solid 2px;
    color: white;
}

/* STATISTIK */



/* MEDIA QUERIES */

@media screen and (max-width: 800px) {
	div.d-flex {
		flex-direction: column;
	}

    main {
        order: 3;
    }

}