@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #FFD1DA;
    margin-top: 15px;
}

nav {
    background-color: #C3EDBF;
    order: 1;
    flex: 1 1 0;
}

main {
    background-color: #fff1cd;
    order: 2;
    flex: 3 3 0;
    height: 400px;
}

aside {
    background-color: #beebf2;
    order: 3;
    flex: 1 1 0;
}

footer {
    margin-bottom: 15px;
    background-color: #d5cdeb;
}

.m-5 {
    margin: 5px;
}

.rounded-border {
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
}

.container {
    display: flex;
    height: 100%;
}

.progress-bar {
    fill:#eee;
    border-radius: 5px;
    width: 100%;
    height: 25px;
}

/* rect.right.progress-bar{
    fill: #C3EDBF;
    width: 40px;
}

rect.wrong.progress-bar{
    fill: #FF7974;
    width: 80px;
} */

.wrapper {
    border-radius: 5px;
    border: solid white 2px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 10px;
}

.text-center {
    text-align: center;
}

#question {
    font-size: 1.75rem;
}

div#task {
    height: 270px;
}

button {
    background-color: white;
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
    border: black solid 0.5px;
    cursor: pointer;
}

button#restart {
    width: 100%;
    border: black solid 0.5px;
}

/* button:hover {
    background-color: black;
    color: white;
} */

@media screen and (max-width: 800px) {
	div.container {
		flex-direction: column;
	}

    main {
        order: 3;
    }

}